.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
    height: 56px;
    align-items: center;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .topLeft-menu {
        font-size: 24px;
        font-weight: 100;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: var(--background-hover);
            border-radius: 24px;
        }
    }

    .logo-icon {
        padding: 18px 14px 18px 16px;
        cursor: pointer;
    }

}

//tippy 
.result-box {
    width: 580px;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 700px;
    box-sizing: border-box;

    .form {
        display: flex;
        width: 640px;
        height: 40px;
        box-sizing: border-box;
        justify-content: space-between;
        border: 1px solid#c6c6c6;
        align-items: center;
        border-radius: 40px;


        .form-input {
            width: 580px;
            display: flex;
            align-items: center;
        }

        input {
            margin: 5px;
            padding: 5px;
            width: 458px;
            height: 24px;
            font-size: 1.8rem;


        }


        .search-input {
            width: 60px;
            height: 40px;
            font-size: 2.2rem;
            background-color: transparent;
            position: relative;
        }

        .btn {
            display: flex;
            background-color: transparent;
            position: relative;
            height: 100%;

            .keyboard,
            .clear {
                background-color: transparent;
                font-size: 2.2rem;
                color: #333;
                padding-right: 10px;
            }

            &::after {
                content: '';
                width: 2px;
                height: 39px;
                background-color: #c6c6c6
            }

        }

        .search {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: #333;
            font-weight: normal;
            width: 60px;
            height: 39px;
            font-size: 2.2rem;

            &:hover {
                border-color: #c6c6c6;
                background-color: #f0f0f0;
                border-radius: 0 40px 40px 0;
                box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }

    .micro {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        width: 40px;
        height: 40px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            border-radius: 50%;
            background-color: #e1e0e0;
        }
    }
}

//action

.action {
    display: inline-flex;
    align-items: center;

    .topRight-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        width: 40px;
        height: 40px;
        background-color: transparent;
        cursor: pointer;



        &:active {
            border: 1px solid #121111;
            border-radius: 50%;
            background-color: #e1e0e0;
        }
    }

}

.btn-video,
.btn-alert {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: transparent;
    font-size: 2.2rem;
    cursor: pointer;

    &:hover {
        border-radius: 50%;
        background-color: #e1e0e0;
    }
}

.avatar {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    border-radius: 50%;
}