.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    width: 130px;
    height: 34px;
    border: 1px solid var(--border-color);
    margin-left: 18px;
    user-select: none;
    cursor: pointer;

    +.wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    font-size: 22px;
    font-weight: 100;
}

.title {
    font-size: 15px;
    font-weight: 400;
}

.icon+.title,
.title+.icon {
    padding: 8px;
}

.blue {
    background-color: white;
    color: var(--button-color);

    &:hover {
        background-color: #d6e9fc;
        border: none;
        outline: none;
    }
}